canvas {
  background-color: rgb(26, 6, 6);
  box-shadow: rgb(17, 2, 2) 20px 10px 50px;
}

body {
  font: normal 14pt Arial;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e7796f;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to bottom, #7e3827a2, transparent);
  border-radius: 20px;
}

#controls {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#controls .row {
  display: flex;
  justify-content: center;
}

#controls button {
  font-size: 24px;
  padding: 15px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  background-color: #7e2e27a2;
  color: white;
}

#restartBtn {
  margin-top: 15px;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #2e7d32;
  color: white;
}