:root {
  --cor00: #040c3b;
  --cor01: #e20e60; 
  --cor02: #23db73; 
  --cor03: #eec822; 
  --cor04: #f7eff8; 
}

body {
  
  background: linear-gradient(135deg, #0f1869, #020b1f);
  font-family: Arial, sans-serif;
  margin: 0;
  color: var(--cor04);
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h2 {
  color: var(--cor03);
  font-size: 1.5rem;
  margin-bottom: 15px;
  animation: fadeInDown 1s ease-out;
}



.campo {
  margin-bottom: 20px;
  color: var(--cor03);
  background: rgba(255,255,255,0.05);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  max-width: 400px;
  margin: auto;

}

label {
  font-weight: bold;
  font-size: 1.2rem;
}

input {
  width: 100%;
  max-width: 120px;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid #ccc;
  transition: border-color 0.3s;
}

input:focus {
  border-color: var(--cor03);
  outline: none;
}


.explicacao {
  font-size: 1rem;
  color: #f5efef;
  margin-top: 5px;
}

/* Botão estilizado */
button {
  display: inline-block;
  margin: 12px;
  padding: 14px 28px;
  background-color: var(--cor01);
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  font-size: 1.1rem;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(20, 20, 20, 0.4);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
  animation: fadeInUp 1s ease-out;
}

button:hover {
  background-color: var(--cor02); 
  transform: scale(1.08);
  box-shadow: 0 6px 12px rgba(22, 8, 8, 0.6);
}

#resultado {
  margin-top: 30px;
  font-size: 1.2rem;
  font-weight: bold;
}

/* Animações */
@keyframes fadeInDown {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Ajustes para celulares */
@media (max-width: 600px) {
  h2 {
    font-size: 1.5rem;
  }
  label {
    font-size: 1rem;
  }
  input {
    width: 100%;
    max-width: none;
    font-size: 1rem;
  }
  button {
    width: 100%;
    font-size: 1rem;
  }
  .explicacao {
    font-size: 0.9rem;
  }
}